.image-upload-container {
  width: 100%;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #f0f0f0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.uploaded-image {
  position: relative;
}

.uploaded-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.uploaded-image:hover:before {
  opacity: 1;
}

.uploaded-image span {
  z-index: 1;
}
