<!-- create-movie.component.html -->

<h2>Create a new movie</h2>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      [matAutocomplete]="titleAutocomplete"
      formControlName="title" />
    <mat-autocomplete #titleAutocomplete="matAutocomplete">
      <mat-option
        *ngFor="let suggestion of suggestions$ | async"
        [value]="suggestion.title"
        (click)="useSuggestion(suggestion)">
        {{ suggestion.title }}
        <span *ngIf="suggestion.release_date"
          >| {{ suggestion.release_date | date }}</span
        >
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Director</mat-label>
    <input matInput formControlName="director" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Release Date</mat-label>
    <input
      matInput
      [matDatepicker]="releaseDatePicker"
      formControlName="releaseDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="releaseDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #releaseDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipList>
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">{{
        tag
      }}</mat-chip>
    </mat-chip-grid>
    <input
      matInput
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addTag($event)" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Original Language</mat-label>
    <input matInput formControlName="originalLanguage" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Original Title</mat-label>
    <input matInput formControlName="originalTitle" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Popularity</mat-label>
    <input matInput formControlName="popularity" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vote Average</mat-label>
    <input matInput formControlName="voteAverage" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vote Count</mat-label>
    <input matInput formControlName="voteCount" type="number" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create Movie</button>
</form>
