<!-- create-movie.component.html -->

<h2>Create a new movie</h2>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-label>Title</mat-label>
    <input
      appInput
      [matAutocomplete]="titleAutocomplete"
      formControlName="title" />
    <mat-autocomplete #titleAutocomplete="matAutocomplete">
      <mat-option
        *ngFor="let suggestion of suggestions$ | async"
        [value]="suggestion.title"
        (click)="useSuggestion(suggestion)">
        {{ suggestion.title }}
        <span *ngIf="suggestion.release_date"
          >| {{ suggestion.release_date | date }}</span
        >
      </mat-option>
    </mat-autocomplete>
    <app-input-errors *ngIf="movieForm.get('title')?.dirty" [errors]="movieForm.get('title')?.errors"></app-input-errors>
  </div>

  <div>
    <mat-label>Director</mat-label>
    <input appInput formControlName="director" />
    <app-input-errors *ngIf="movieForm.get('director')?.dirty" [errors]="movieForm.get('director')?.errors"></app-input-errors>
  </div>

  <div>
    <mat-label>Release Date</mat-label>
    <input
      appInput
      [matDatepicker]="releaseDatePicker"
      formControlName="releaseDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="releaseDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #releaseDatePicker></mat-datepicker>
    <app-input-errors *ngIf="movieForm.get('releaseDate')?.dirty" [errors]="movieForm.get('releaseDate')?.errors"></app-input-errors>
  </div>

  <!-- <div>
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipList>
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">{{
        tag
      }}</mat-chip>
    </mat-chip-grid>
    <input
      appInput
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addTag($event)" />
  </div> -->

  <div>
    <mat-label>Description</mat-label>
    <textarea appInput formControlName="description"></textarea>
    <app-input-errors *ngIf="movieForm.get('description')?.dirty" [errors]="movieForm.get('description')?.errors"></app-input-errors>
  </div>

  <!-- TODO: Make it regular control -->
  <app-image-upload
    (imageSelected)="onImageSelected($event)"
    [inputImageFile]="posterFile"></app-image-upload>

  <button
    appButton
    type="submit"
    [disabled]="movieForm.invalid">
    Create Movie
  </button>
</form>
