<div *ngIf="movie$ | async as movie">
  <div class="flex">
    <div class="movie-poster w-1/3">
      <img
        class="w-full object-cover"
        [src]="'http://localhost:3000/' + movie.poster"
        alt="{{ movie.title }} poster"
      />
    </div>

    <div class="pl-8">
      <h1 class="text-3xl font-bold mb-4">{{ movie.title }}</h1>
      <h2 class="text-2xl font-semibold mb-4">Directed by: {{ movie.director }}</h2>
      <p class="mb-4">
        <strong class="font-semibold">Release Date:</strong>
        {{ movie.releaseDate | date }}
      </p>
      <p>
        <strong class="font-semibold">Description:</strong>{{ movie.description }}
      </p>
    </div>
  </div>

  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Reviews:</h3>
    <div class="">
      <div
        class="mb-4"
        *ngFor="let review of reviews$ | async; let i = index"
      >
        <div class="bg-white shadow-md p-6 rounded-lg">
          <h4 class="text-xl font-bold mb-2">{{ review.title }}</h4>
          <h5 class="text-gray-600 font-semibold mb-4">
            {{ review.createdAt | date }}
          </h5>
          <p class="text-gray-700">{{ review.body }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Add Review:</h3>
    <form [formGroup]="reviewForm">
      <ts-form-field class="mb-4">
        <label #label class="block mb-2 font-semibold" for="review-title">Title</label>
        <input
          id="review-title"
          appInput
          formControlName="title"
        />
      </ts-form-field>

      <ts-form-field class="mb-4">
        <label class="block mb-2 font-semibold" for="review-rating">Rating</label>
        <input
          id="review-rating"
          appInput
          type="number"
          formControlName="rating"
        />

      </ts-form-field>

      <ts-form-field class="mb-4">
        <label class="block mb-2 font-semibold" for="review-body">Body</label>
        <textarea
          id="review-body"
          appInput
          formControlName="body"
        ></textarea>

      </ts-form-field>
      <div>
        <button
          appButton
          [disabled]="reviewForm.invalid"
          (click)="addReview()"
        >
          Add Review
        </button>
      </div>
    </form>
  </div>
</div>