<section>
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Filter by tag</mat-label>
      <input
        matInput
        [formControl]="tagFilterControl"
        placeholder="Enter tag name"
        data-test="tag-filter" />
    </mat-form-field>
  </div>

  <mat-card
    *ngFor="let movie of displayedMovies$ | async; trackBy: trackById"
    class="movie-card"
    data-test="movie-card">
    <img
      mat-card-image
      [src]="movie.poster"
      alt="{{ movie.title }} poster"
      (error)="onImageError($event)" />
    <mat-card-header>
      <mat-card-title data-test="movie-title">{{ movie.title }}</mat-card-title>
      <mat-card-subtitle data-test="movie-director"
        >Directed by: {{ movie.director }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p data-test="movie-release-date">
        Release Date: {{ movie.releaseDate }}
      </p>
      <p>
        Tags:
        <mat-chip-listbox>
          <mat-chip *ngFor="let tag of movie.tags">{{ tag.name }}</mat-chip>
        </mat-chip-listbox>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/movies/details', movie.id]">
        View Details
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-paginator
    [length]="(movies$ | async)?.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</section>
