<section>
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Filter by tag</mat-label>
      <input
        matInput
        [formControl]="tagFilterControl"
        placeholder="Enter tag name"
        data-test="tag-filter" />
    </mat-form-field>
  </div>

  <div class="flex flex-wrap gap-5">
    <app-movie-card
  *ngFor="let movie of displayedMovies$ | async; trackBy: trackById"
  [movie]="movie"
  data-test="movie-card"
  class="basis-1/4"
>
<button
        class="bg-primary-500 text-white py-2 px-4 rounded-md"
        [routerLink]="['/movies/details', movie.id]"
      >
        View Details
      </button>
</app-movie-card>
  </div>
  <mat-paginator
    [length]="(movies$ | async)?.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</section>
