<ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
    <svg
      tabindex="0"
      class="w-6 h-6 inline-block outline-primary-200"
      [ngClass]="{ 'star-filled': i + 1 <= rating }"
      (click)="onStarClicked(i)"
      [attr.src]="'assets/icons/' + (i + 1 <= rating ? 'star-filled.svg' : 'star-empty.svg')"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke-width="2"
      [attr.fill]="i + 1 <= rating ? 'gold' : 'none'"
      stroke="currentColor"
    >
      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
    </svg>
  </ng-container>