<div class="bg-primary-500 py-3 px-6 flex items-center justify-between">
  <div class="flex items-center">
    <span class="text-white text-xl font-semibold ml-6">MoviesSpace</span>
  </div>
  <ul class="list-none flex items-center space-x-6">
    <li>
      <a
        [routerLink]="['/movies']"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>movie</mat-icon>
        <span class="ml-2">Movies</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/admin']"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="ml-2">Admin</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/visual"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        Tag Statistics
      </a>
    </li>
  </ul>
  <div class="ml-4">
    <label for="theme-switcher" class="text-white">Theme:</label>
    <select
      id="theme-switcher"
      class="ml-2 py-1 px-2 bg-white text-gray-700 rounded-md"
      (change)="changeTheme($event)"
    >
      <option value="base">Base</option>
      <option value="theme2">Theme 2</option>
      <option value="theme3">Theme 3</option>
    </select>
  </div>
</div>