<div class="bg-primary-500 py-3 px-6 flex items-center justify-between">
  <div class="flex items-center">
    <span class="text-white text-xl font-semibold ml-6">MoviesSpace</span>
  </div>
  <ul class="list-none flex items-center space-x-6">
    <li>
      <a
        [routerLink]="['/movies']"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>movie</mat-icon>
        <span class="ml-2">Movies</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/admin']"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="ml-2">Admin</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/visual"
        routerLinkActive="text-white border-b-2 border-white"
        class="text-white py-2 px-4 border-b-2 border-transparent hover:border-white"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        Tag Statistics
      </a>
    </li>
  </ul>
  <!-- Add this inside the existing header block -->
<div class="relative inline-block">
  <button
    class="text-white hover:text-gray-400"
    (click)="themeMenuVisible = !themeMenuVisible"
  >
    <mat-icon>brush</mat-icon>
  </button>

  <div
    class="absolute right-0 mt-2 w-40 bg-white text-gray-700 rounded shadow-md"
    *ngIf="themeMenuVisible"
  >
    <button
      class="block px-4 py-2 w-full text-left"
      (click)="changeTheme('body')"
    >
      Base
    </button>
    <button
      class="block px-4 py-2 w-full text-left"
      (click)="changeTheme('theme2')"
    >
      Theme 2
    </button>
    <button
      class="block px-4 py-2 w-full text-left"
      (click)="changeTheme('theme3')"
    >
      Theme 3
    </button>
  </div>
</div>
</div>