<div>
  <h2>Add Movies</h2>
  <ts-form-field>
    <label>Movie titles (one per line)</label>
    <textarea [formControl]="movieTitlesControl"  appInput ></textarea>
  </ts-form-field>
  <button appButton  [disabled]="movieTitlesControl.invalid"  (click)="findSuggestions()">
    Find Suggestions
  </button>
</div>
<div *ngIf="recommendations">
  <h3>Search Results:</h3>
  <div>
    <div
  class="bg-white rounded-lg overflow-hidden shadow-md mb-6"
  *ngFor="let movie of recommendations"
>
  <img
    class="w-full h-48 object-cover object-center"
    [src]="movie.selectedPosterUrl"
    alt="{{ movie.selected.title }} poster"
  />
  <div class="p-5">
    <h3 class="text-lg font-semibold">{{ movie.selected.title }}</h3>
    <p class="mt-2 text-sm text-gray-700">{{ movie.selected.overview }}</p>
  </div>

  <button
    class="text-primary-500 hover:text-primary-600 p-3"
    [matMenuTriggerFor]="menu"
    (click)="openMenu(movie)"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu" (closed)="closeMenu()">
    <ng-container *ngIf="suggestions">
      <div
        class="p-2 cursor-pointer hover:bg-gray-200"
        *ngFor="let suggestion of suggestions"
        (click)="useSuggestion(suggestion, movie.selected)"
      >
        {{ suggestion.title }}
        <span *ngIf="suggestion.release_date">
          | {{ suggestion.release_date | date }}
        </span>
      </div>
    </ng-container>
  </mat-menu>
</div>
  </div>
  <button (click)="addMovies()" appButton>Add Movies</button>
</div>
